<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Research Request Portal</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class=page>
  <h1>Research Request Portal</h1>
  <div class=metanav>
    <a href='/'>Home</a>
    |
    <a href="{{ url_for('show_help') }}">Help</a>
    |
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log Out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>