{% extends "layout.html" %}

{% block container %}
<div class="row">
    <div class="col-sm-4">
    <h1>New Request</h1>
            <form action="{{ url_for('add_request') }}" method="post">
                <div class="form-group">
                    <label for="salary-number">Salary Number:</label>
                    <input name="salary_number" type="text" class="form-control" id="disabledTextInput" value="{{ user.salary_number }}" disabled>
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input name="email_addr" type="email" class="form-control" id="disabledTextInput" value="{{ user.email }}" disabled>
                </div>
                <div class="form-group">
                    <label for="datafile">Data File:</label>
                    <input name="file_loc" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea name="comments" type="text" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="rules">Rules:</label>
                    <select multiple class="selectpicker" name="ruleslist[]">
                        {% for rule in rules %}
                          <option value="{{ rule.id }}">{{ rule.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="rules">Fields:</label>
                    <select multiple class="selectpicker" name="fieldslist[]">
                        {% for field in fields %}
                          <option value="{{ field.id }}">{{ field.field_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    <div class="col-sm-8">
    <h1>Existing Requests</h1>
    <p>Only for current logged user</p> 
            <table class="table">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Request ID</th>
                        <th>Data File</th>
                        <th>Submitted Date</th>
                        <th>Last Updated Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in requests %}
                      <tr>
                        <td><span class="label label-info">{{ request.status }}</span></td>
                        {% if request.status == 'Submitted' %}
                          <td><a href="{{ url_for('del_request', request_id=request.id)}}" class="btn btn-danger btn-xs" role="button">Delete</a></td>
                        {% else %}
                          <td></td>
                        {% endif %}
                        <td><a href="#">#{{ request.id }}</a></td>
                        <td>{{ request.data_file_full_loc }}</td>
                        <td>{{ request.created_at }}</td>
                        <td>{{ request.updated_at }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
        </div>
    </div>
{% endblock %}