{% extends "layout.html" %}
{% block body %}
<div class="add_entry">
  <h2>Request Detail</h2>
  <dl>Request Submitter: {{ request.user.name }}</dl>
  <dl>Request ID: {{ request.id }}</dl>
  <p>Request Path: {{ request.data_file_full_loc }}</p>
  <p>Comment: {{ request.comments|safe}}</p>
  <p>Rules:
      {% for item in request.rules %}
        <ul>{{ item.name }}</ul>
      {% endfor %}
  </p>
  
  <p>Fields:
      {% for item in request.fields %}
        <ul>{{ item.field_name }}</ul>
      {% endfor %}
  </p>
  <a href="{{ url_for('del_request', request_id=request.id)}}">Delete It!</a>
</div>

{% endblock %}