{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_request') }}" method=post class=add-entry>
      <dl>
        <dt>Salary Number</dt>
        <dd><input type=text size=30 name=salary_number value={{ user.salary_number }} /></dd>
        <dt>Email Address</dt> 
        <dd><input type=text size=30 name=email_addr value={{ user.email}} /></dd>  
        <dt>Data File Full Location</dt>
        <dd><input type=text size=70 name=file_loc value={{ user.email}} /></dd>
        <dt>Filter Rules</dt>
        <dd>
          <select multiple name=rules size={{ rules|length }}>
            {% for rule in rules %}
              <option value={{ rule.id }}>{{ rule.name }}</option>
            {% endfor %}
          </select>
        </dd>

        <dt>Fields</dt>
        <dd>
          <select multiple name=fields size={{ fields|length }}>
            {% for field in fields %}
              <option value={{ field.id }}>{{ field.field_name }}</option>
            {% endfor %}
          </select>
        </dd>

        <dt>Additional Comments:
        <dd><textarea name=comments rows=5 cols=40></textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for request in requests %}
    <li><h2>{{ request.created_at }}</h2>
      URL: {{ request.data_file_full_loc|safe }}</li>
      Status: {{ request.status }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}